* {
  box-sizing: border-box;
  -moz-box-sizing:border-box;
  margin:0 auto;
  padding:0px;
  border:0px;
}

html {
    min-height: 100%;
    min-width: 100%;
    margin: 0 auto;
    padding: 0;
	font-family: Arial;  
	  
	background-image: url('../img/Portada.jpg');
	/* Create the parallax scrolling effect */

    background-repeat:no-repeat;
    background-size: 100% auto;
}
main{
	padding-top: 100px;
}
a{
	text-decoration: none;
}
h1{
	font-size: 1.2em;
}
form{
	margin:0 auto;
	margin-top:40px;
}

input{
	margin:0 auto; 
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
	width:400px;
	margin:10px;
}
input[type=submit]{
	background-color:white;
}
input[type=submit]:hover{
	background-color:#EEE;
}
@media only screen and (min-width : 768px) , (orientation: landscape){
	.content{
		margin:0 auto;
		width:1200px;
	}
}
.content-pink {
    padding-top: 70px;
    height:280px;
    background-color: rgb(217, 17, 91);
    color: white;
    text-align: center;
	margin-top: 150px;
}
.content-white {
    height:480px;;
    color: black;
    text-align: center;
	margin: 50px 0px;
}
footer{
	background-color: rgb(217, 17, 91);
	color:white;
	text-align: center;
	padding:30px;
	line-height: 40px;
	
}
footer a{
	color:white;
}
footer a:hover{
	color:#666;
}

.column3{
	float:left;
	width: 390px;
	margin: 25px 5px;
	line-height: 400px;
	height:400px;
	background-color: rgb(217, 17, 91);
	
}